<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/grid.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/queries.css">
    
    <title>Beom Pang!</title>
</head>
<body>
    <div class="wrap">
        <!-- header start --------------------------------------------------------------------------------------------------->
        <header id="header">
            <div class="top-area">
                <div class="inner-color">
                    <div class="left">
                        <a href="#">즐겨찾기</a>
                        <a href="#">입점신청</a>
                    </div>
                    <div class="log-area">
                        <a href="login.html">로그인</a>
                        <a href="#">회원가입</a>
                        <a href="#">고객센터</a>
                    </div>
                </div>
            </div>
            <div class="row-category">
                <nav class="category">
                    <div class="box">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <p>카테고리</p>
                    </div>
                </nav>
                <div class="search-wrapper">
                    <div class="search-logo">
                        <h1 class="logo">
                            <a href="#">
                                <img src="image/base/main-logo.png" alt="쿠팡">
                            </a>
                        </h1>
                        <div class="search-form">
                            <form action="/form_receiver" id="search" method="get" name="searchform">
                                <fieldset>
                                    <legend class="blind">상품검색</legend>
                                    <select name="" id="">
                                        <option value="">전체</option>
                                        <option value="">여성패션</option>
                                        <option value="">남성패션</option>
                                        <option value="">유아동패션</option>
                                        <option value="">뷰티</option>
                                        <option value="">출산/유아동</option>
                                        <option value="">식품</option>
                                    </select>
                                    <input type="text" placeholder="찾고 싶은 상품을 검색해보세요!" id="search-input" name="searchInput">
                                        <button type="button" class="search-btn" id="search-submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </input>
                                </fieldset>
                            </form>
                        </div>
                        <a href="#" class="mypage">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            <p>마이쿠팡</p>
                        </a>
                        <a href="#" class="mycart">
                            <em class="count">0</em>
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            <p>장바구니</p>
                        </a>
                    </div>
                    <ul class="menu">
                        <li><a href="#" class="blue-rocket">로켓배송</a></li>
                        <li><a href="#" class="green-rocket">로켓프레시</a></li>
                        <li><a href="#">로켓직구</a></li>
                        <li><a href="#">골드박스</a></li>
                        <li><a href="#">정기배송</a></li>
                        <li><a href="#">이벤트/쿠폰</a></li>
                        <li><a href="#">기획전</a></li>
                        <li><a href="#">여행/티켓</a></li>
                        
                    </ul>
                    
                </div>
            </div>

            <div class="m-header">
                <div class="logo-area">
                    <div class="gnb-area">
                        <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                        <h1 class="logo"><a href="#"><img src="image/base/main-logo.png" alt=""></a></h1>
                    </div>
                    <div class="search-area">
                        <div class="search-btn">
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>
                        <div class="my-cart">
                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <nav class="lnb-area">

                </nav>
            </div>
        </header>
        <!-- header end ---------------------------------------------------------------------------------------------------->

        <!-- slide section start --------------------------------------------------------------------------------------------------->
        <section id="slider">            
            <figure class="slide-img"><img src="image/base/slide-banner1.jpg" alt=""></figure>
            <figure class="slide-img"><img src="image/base/slide-banner2.jpg" alt=""></figure>
            <figure class="slide-img"><img src="image/base/slide-banner3.jpg" alt=""></figure>
            <figure class="slide-img"><img src="image/base/slide-banner4.jpg" alt=""></figure>
            <figure class="slide-img"><img src="image/base/slide-banner5.jpg" alt=""></figure>
            <figure class="slide-img"><img src="image/base/slide-banner6.jpg" alt=""></figure>
            <div class="link-area">
                <div class="wrapper">
                    <a href="#"><img src="image/base/slide-desc1.jpg" alt=""></a>
                    <a href="#"><img src="image/base/slide-desc2.jpg" alt=""></a>
                    <a href="#"><img src="image/base/slide-desc3.jpg" alt=""></a>
                    <a href="#"><img src="image/base/slide-desc4.jpg" alt=""></a>
                    <a href="#"><img src="image/base/slide-desc5.jpg" alt=""></a>
                    <a href="#"><img src="image/base/slide-desc6.jpg" alt=""></a>
                </div>
            </div>
            
        </section>
        <!-- slide section end ---------------------------------------------------------------------------------------------------->
        


        <!-- hot gallery section start ---------------------------------------------------------------------------------------------------->
        <section id="hotdeal">
            <h2>오늘의 발견 | <em>오늘 쿠팡이 엄선한 가장 HOT한 상품!</em></h2>
            <div class="hot-title">
                <img src="image/base/todayshot.png" alt="">
                <h2>TODAY'S HOT </h2>
            </div>
            <div class="hot-area">
                    <figure class="hot-item"><a href="#"><img src="image/base/hot-img1.jpg" alt=""><div class="gohover">&gt;</div></a></figure>
                    <figure class="hot-item"><a href="#"><img src="image/base/hot-img2.jpg" alt=""><div class="gohover">&gt;</div></a></figure>
                
                    <figure class="hot-item"><a href="#"><img src="image/base/hot-img3.jpg" alt=""><div class="gohover">&gt;</div></a></figure>
                    <figure class="hot-item"><a href="#"><img src="image/base/hot-img4.jpg" alt=""><div class="gohover">&gt;</div></a></figure>
                    <figure class="hot-item"><a href="#"><img src="image/base/hot-img5.jpg" alt=""><div class="gohover">&gt;</div></a></figure>
                    <figure class="hot-item"><a href="#"><img src="image/base/hot-img6.jpg" alt=""><div class="gohover">&gt;</div></a></figure>
                
                    <figure class="hot-item"><a href="#"><img src="image/base/hot-img7.jpg" alt=""><div class="gohover">&gt;</div></a></figure>
                    <figure class="hot-item"><a href="#"><img src="image/base/hot-img8.jpg" alt=""><div class="gohover">&gt;</div></a></figure>
                    <figure class="hot-item"><a href="#"><img src="image/base/hot-img9.jpg" alt=""><div class="gohover">&gt;</div></a></figure>
            </div>
        </section>
        <!-- hot gallery section end ---------------------------------------------------------------------------------------------------->

        <!-- fotoer start ----------------------------------------------------------------------------------------------------------------->
        <footer id="footer">
            <div class="footer-wrapper">
                <div class="sns-area">
                    <a href="#" ><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#" ><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </div>
                <h1 class="footer-logo">
                    <a href="#" ></a>
                </h1>
                <address class="address-content box">
                    범팡(주) | 대표이사 : 김범준<br>
                    서울시 송파구 송파대로 570<br>
                    사업자 등록번호 : 120-88-0077<br>
                    통신판매업신고 : 2017-서울송파-0680
                </address>
                <div class="contact-content box">
                    <a href="#">
                        <strong>365고객센터</strong>| 전자금융거래분쟁처리담당<br>
                        <em>010-9188-8594</em><br>
                        <span class="email">rlaqjawns112@naver.com</span>
                    </a>
                </div>
                <div class="service-content box">
                    <strong>우리은행 채무지급보증 안내</strong>
                    <p class="desc">
                        당사는 고객님이 현금 결제한 금액에 대해<br>
                        우리은행과 채무지급 보증 계약을 체결하여<br>
                        안전거래를 보장하고 있습니다.
                    </p>
                </div>
            </div>
        </footer>
        <!-- fotoer end ----------------------------------------------------------------------------------------------------------------->
    </div>

    <script src="js/index.js"></script>
</body>
</html>