<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="wrap">
        <a href="index.html" class="logo"><img src="image/base/main-logo.png" alt=""></a>
        <form action="/login.html" method="POST" id="loginform" name="loginform">
            <fieldset>
                <input type=text placeholder="아이디(이메일)" name="userid" >
                <input type=password placeholder="비밀번호" name="userpw" >
            </fieldset>
            <button type="submit" id="submit">로그인</button>
        </form>
    </div>

    <script src="js/login.js"></script>
</body>
</html>